<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<form th:method="POST" th:action="@{/}" th:object="${u}">

    <label for="name">Name:</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="surname">Surname:</label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <br/>
    <label for="phonenumber">Phone number:</label>
    <input type="number" th:field="*{phoneNumber}" id="phonenumber"/>
    <br/>
    <input type="submit" value="Save"/>
</form>
</body>
</html>